<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <a asp-controller="Home" asp-action="Index">Index</a>
        <a asp-controller="Home" asp-action="Post">Post</a>
        <a asp-controller="Home" asp-action="Edit">Edit</a>
        <a asp-controller="Home" asp-action="Show">Show</a>
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
